<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
</head>
<body>
<h3>Информация о товаре</h3>
<a href="/"><input type="button" value="Вернуться к списку товаров"></a><br><br>
<div style="border: 1px solid grey; border-radius: 5px; margin: 5px; width: 300px; padding: 20px">
    <h3 th:text="'Наименование: ' + ${product.getTitle()}"></h3>
    <div th:each="img : ${product.getImageList()}">
        <img th:src="'/img/' + ${img.getFileName()}" width="300px">
    </div>
    <p th:text="'Автор: ' + ${product.getAuthor()}"></p>
    <p th:text="'Страна: ' + ${product.getCountry()}"></p>
    <p th:text="'Издатель: ' + ${product.getPublisher()}"></p>
    <p th:text="'Кол-во страниц: ' + ${product.getPages()}"></p>
    <p th:text="'Год издания: ' + ${product.getYear_of_issue()}"></p>
    <p th:text="'Описание: ' + ${product.getDescriptions()}"></p>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p><br>
    <br>
</div>
</body>
</html>