<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование товара</title>
</head>
<body>
    <h3>Редактирование товара</h3>
    <form th:method="post" th:action="@{/admin/product/edit/{id}(id=${product.getId()})}" th:object="${product}" enctype="multipart/form-data"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

        <input type="text" placeholder="Название книги" th:field="*{title}"><br>
        <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div><br>

        <input type="text" placeholder="Автор" th:field="*{author}"><br>
        <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div><br>

        <input type="text" placeholder="Страна" th:field="*{country}"><br>
        <div style="color: red" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div><br>

        <input type="text" placeholder="Издатель" th:field="*{publisher}"><br>
        <div style="color: red" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}"></div><br>

        <input type="text" placeholder="Кол-во страниц" th:field="*{pages}"><br>
        <div style="color: red" th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}"></div><br>

        <input type="text" placeholder="Год издания" th:field="*{year_of_issue}"><br>
        <div style="color: red" th:if="${#fields.hasErrors('year_of_issue')}" th:errors="*{year_of_issue}"></div><br>

        <textarea placeholder="Описание" th:field="*{descriptions}"></textarea><br>
        <div style="color: red" th:if="${#fields.hasErrors('descriptions')}" th:errors="*{descriptions}"></div><br>

        <input type="text" placeholder="Цена" th:field="*{price}"><br>
        <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div><br>
        <br>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>